@import 'mixins';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

// Theme
$bg: rgba(99, 152,200);

// SHADOWS
$shadow:        0px 0px 5px rgba(0, 0, 0, 0.56);
$shadow2:       rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$shadow3:       rgba(0, 0, 0, 0.08) 0px 4px 12px;

// TEXT
$font: 'Montserrat', sans-serif;

// PARTIALS
@import 'component_NextThree';
@import "component_PointsCounter";
@import "component_Board";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: $bg;
  @include grid();
  grid-gap: 2rem;
  grid-template-rows: repeat(2, 1fr);
  font-family: $font;
  padding: 1rem;
}

component-popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lighten(rgba($bg,.4), 10%);
  backdrop-filter: blur(25px);
  @include flex(row, wrap);
}
.popupContent {
  @include flex(row, wrap);
  width: 60%;
  height: 50vh;
  background: lighten(rgba($bg,.4), 50%);
  backdrop-filter: blur(25px);
  border-radius: 45px;
  color: #fff;
  padding: 2rem;
  h1 {
    width: 100%;
    text-align: center;
  }
  h2 {
    width: 100%;
    text-align: center;
  }
}
.gameoverText {
  font-size: 3rem !important;
  margin-block: 2rem;
  color: #ff0077;
}

.scorePointsPoopup{
  font-size: 3rem !important;
  margin-block: 2rem;
  color: #00ff90;
}
